<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">PollHippo</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="questionInput" class="col-sm-2 control-label">Question</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="questionInput" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="questionInput" class="col-sm-2 control-label">Answers</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="type" ng-options="type.name for type in types">
                                <option value="">-- choose a question type --</option>
                            </select><br/>
                            <div ng-show="type">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="opt in type.options track by $index">
                                        Option {{$index + 1}} <input ng-model="opt">
                                        <a class="glyphicon glyphicon-remove pull-right" ng-click="type.options.splice($index, 1)"></a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href ng-click="type.options.push('')">add</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="testClick()">Save changes</button>
            </div>
        </div>
    </div>
</div>